@media screen and (min-width: 1300px) {
  #about {
      width: 900px;
      margin: 0 auto;
  }
  .arrow1 {
    margin-top: -17rem;
 }
  .arrow {
    margin-top: -14rem;
 }
}



@media screen and (min-width: 1200px) {
  #profile {
    height: 83vh;
    margin-bottom: 3rem;
  }
  #experience,
  #contact,
  #projects {
    height: fit-content;
    margin-bottom: 5rem;
  }
  .gif-icon {
    display: block;
    margin: 0rem auto; /* Center horizontally */
    max-width: 100%;
    height: auto;
  }

}


@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {

  footer {
    height: 20vh;
  }

  footer {
    margin-top: 0rem;
  }
  #contact {
    height: 45vh;
  }
  .section__pic-container1 {
    margin-left:1.3rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 2rem;
  }
  #projects, #contact {
    margin-top: 0rem;
  }
  #experience{
    margin-top: 3rem;
  }
  .experience-details-container {
    margin-bottom: -1rem;
  }
  .section__text__p1 {
    margin-top: 1rem;
  }
  .arrow1 {
    display: none;
  }
  .arrow1 {
    display: none;
  }
  .arrow2 {
    display: none;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-upper-container {
    gap: 2rem;
    height: 200rem;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  #about .title {
    margin-bottom: 3rem;
  }
  .text-container {
    text-align: justify;
  }
  #profile p.section__text__p1 {
    margin-top: 1rem;
  }
  .scroller {
  max-width: 360px;
  }
  nav.project1 a {
    font-size: 14px;
  }
  #projects .details-container {
    width: 19rem;
  }
  nav.project1 {
    margin-bottom: -2rem;
  }
  #contact p.section__text__p1{
    margin-top: 2rem;
  }
  .gif-icon {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      margin-top: 1rem;
  }
  .contact-info-upper-container {
    flex-direction: column;
    padding: 1.2rem;
    align-items: center;
    margin-bottom: 10rem;
  }
  #contact .contact-info-upper-container p {
    font-size: 12.5px;
  }
  .contact-icon {
    width: 14px;
    height: 14px;
    margin-right: -0.8rem;
    margin-left: 0.5rem;
  }

  #contact {
    margin-top: 8rem;
  }
  .contact-info-container .contact-icon1 {
    width: 12px;
    height: 12px;
    margin-right: -0.8rem;
    margin-left: -0.5rem;
  }
  .work-experience-card {
        width: 95%;
        max-width: none;
  }
  .menu-links a {
    position: relative;
    font-size: 12px;
  }
  .menu-links {
    z-index: 10;
    background: #eee;
  }
  .twitter1 {
    display: none;
  }
  .section__pic-container1 img {
    margin: 0rem auto;
 }
  #projects{
    margin-bottom: 10rem;
  }
}

@media screen and (width: 360px) and (height: 740px) {
  .section__pic-container1 img {
    width: 16rem;
    height: 16rem;
    margin: 0rem auto;
 }
  .section__text {
    align-self: center;
    text-align: center;
    margin-top: -2rem;
 }
  #contact .contact-info-upper-container p {
    font-size: 10.5px;
  }
  #projects{
    margin-bottom: 13rem;
  }
  nav.project1 a {
    font-size: 11px;
  }
  .work-experience-card h3{
    font-size: 1.1rem;
  }
  .company-logo img {
    margin-top: 0.3rem;
    width: 120px;
    height: 120px;
    object-fit: contain;
 }
}

@media screen and (device-width: 375px) and (device-height: 667px) and (orientation: portrait) {
  #about {
    margin-top: 8rem;
 }
  .section__pic-container1 img {
    width: 15rem;
    height: 15rem;
    margin: 0rem auto;
  }

  .section__text {
    align-self: center;
    text-align: center;
    margin-top: -5rem;
 }
  .work-experience-card h3{
    font-size: 1.1rem;
  }
  nav.project1 a {
    font-size: 12px;
  }
  #contact .contact-info-upper-container p {
    font-size: 11px;
  }
  #projects{
    margin-bottom: 13rem;
  }
}