@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 3rem;
  }
  #experience,
  #contact,
  #projects {
    height: fit-content;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  .section__pic-container1 {
    margin-left:1.3rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 2rem;
  }
  #projects, #contact {
    margin-top: 0rem;
  }
  #experience{
    margin-top: 3rem;
  }
  .experience-details-container {
    margin-bottom: -1rem;
  }
  .section__text__p1 {
    margin-top: 1rem;
  }
  .arrow1 {
    display: none;
  }
  .arrow1 {
    display: none;
  }
  .arrow2 {
    display: none;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-upper-container {
    gap: 2rem;
    height: 200rem;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  #about .title {
    margin-bottom: 3rem;
  }
  .text-container {
    text-align: justify;
  }
  #profile p.section__text__p1 {
    margin-top: 1rem;
  }
  .scroller {
  max-width: 360px;
  }
  nav.project1 a {
    font-size: 14px;
  }
  #projects .details-container {
    width: 19rem;
  }
  nav.project1 {
    margin-bottom: -2rem;
  }
  #contact p.section__text__p1{
    margin-top: 2rem;
  }
  .gif-icon {
      display: block; /* Ensures the image behaves as a block element */
      margin: 0 auto; /* Centers the image horizontally */
      max-width: 100%; /* Ensures the image doesn't exceed its original size */
      height: auto;
      margin-top: 1rem;
  }
  .contact-info-upper-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 1.2rem;
    align-items: center;
    margin-bottom: 8rem;
  }
  #contact .contact-info-upper-container p {
    font-size: 10px;
  }
  .contact-icon {
    width: 14px;
    height: 14px;
    margin-right: -0.8rem;
    margin-left: 0.5rem;
  }

  #contact {
    margin-top: 8rem;
  }
  .contact-info-container .contact-icon1 {
    width: 12px;
    height: 12px;
    margin-right: -0.8rem;
    margin-left: -0.9rem;
  }
  .work-experience-card {
        width: 95%;
        max-width: none;
  }
}