/* GENERAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    background: #F1EFEF;
    font-family: "Poppins", sans-serif;
    animation: fade-in 0.7s ease-in-out forwards;

}
#section {
    z-index: -1;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}


/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links.open {
    border: 1.5px solid rgb(163, 163, 163);
    border-radius: 10px;
    max-height: 200px;
    padding: 10px;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}


/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    animation: fadeUp 0.9s ease-out forwards;
}

.section__pic-container1 {
    display: flex;
    height: 325px;
    width: 300px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1.7rem;
    gap: 1rem;
}

#socials-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#socials-container img:hover {
    transform: scale(1.2);
}

.section__pic-container1 img {
    width: 20em;
    height: 20em;
    border: 3.1px solid black;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
    -webkit-animation: morph 10s ease-in-out infinite;
    animation: morph 10s ease-in-out infinite;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 70% 70%;
  display: inline-block;
  font-size: 1.5rem;
}

@keyframes wave-animation {
  0% { transform: rotate( 0deg ) }
  25% { transform: rotate( -10deg ) }
  75% { transform: rotate( 12deg ) }
  100% { transform: rotate( 0deg ) }
}


/* ICONS */

.icon {
    height: 2rem;
}

.icon1 {
    height: 1.2rem;
}


/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-family: Mulish;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.8rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: rgb(250, 250, 250);
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}


/* ABOUT SECTION */

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.section__pic-container {
    display: flex;
    height: 270px;
    width: 320px;
    margin: auto 0;

}

#about p.section__text__p1 {
    margin-top: 0rem;
}

#about p {
  font-size: 15.5px;
}

#about {
    position: relative;
    animation: appear ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}

#about .title {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #FFBF00;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 0rem;

}

#about .details-container {
    background: rgb(250, 250, 250);
}

.about-details-container {
    justify-content: center;
    flex-direction: column;

}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow:hover {
    content: url('./assets/arrow.gif');
}

.arrow1 {
    position: absolute;
    right: -5rem;
    margin-top: -13rem;
    cursor: pointer;
}

.arrow1:hover {
    content: url('./assets/arrow.gif');
}

.arrow2 {
    position: absolute;
    right: -5rem;
    bottom: -3rem;
    cursor: pointer;
}

.arrow2:hover {
    content: url('./assets/arrow.gif');
}

.details-container {
    padding: 0.8rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    cursor: default;
}

.section-container {
    gap: 4rem;
    height: 80%;
}


/* EXPERIENCE SECTION */

.scroller {
  max-width: 700px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, white, white);
  mask: linear-gradient(90deg, white, white);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 50s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

#experience {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience .title {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #FFBF00;
}

.skills p {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #ff6666;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.work p {
    font-size: 1.5rem;
}

.experience-details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.skills .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    margin-top: 1rem;
}

.skills .logos {
    cursor: pointer;
}

.skills .logos img {
    height: 4rem;
    transition: all .4s ease-in-out;
    width: 4rem;
    gap: 1rem;
}

.skills .logos img:hover {
    transform: translateY(-0.8rem);
}

.icon.arrow {
    cursor: pointer;
}

@keyframes appear2 {
	from {
		opacity: 0;
		transform: translateX(150px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.work-experience-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.work-experience-card {
    cursor: default;
    display: flex;
    flex-direction: row;
    width: 40%;
    max-width: 500px;
    border: 2.5px solid rgb(163, 163, 163);
    border-radius: 34px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateZ(0);
    background: rgb(250, 250, 250);
    margin-bottom: 1rem;
}

.work p.title2 {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #ff6666;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.icon2 {
    height: 16px;
    margin-right: 2px;
}

.icon3 {
    height: 12px;
    margin-right: 4.4px;
}

.company-logo {
    margin-right: 1.2rem;
    margin-left: 0.5rem;
}

.company-logo img {
    margin-top: 0.3rem;
    width: 136px;
    height: 136px;
    object-fit: contain;
    border-radius: 20px;
    border: 2px solid black;
}

.company-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-name {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.work-experience-card .position {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: -0.4rem;
    margin-bottom: 0.5rem;
}

.work-experience-card .description {
    font-size: 13px;
    color: #666;
    margin-bottom: 3px;
}

.work-experience-card .description2 {
    font-size: 13px;
    margin-top: 5px;
    color: #666;
    margin-bottom: -22px;
}

.links {
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}

.links a {
    font-size: 13px;
    color: #0073b1;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #005582;
}

.work-experience-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: 0.2s ease-in-out;
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* PROJECTS SECTION */

.color-container {
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.color-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
}

#projects {
    position: relative;
}

#projects .title {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #FFBF00;
    margin-bottom: 4rem;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    width: 98%;
    height: 146px;
    border: 1.7px solid black;
    border-radius: 12px;
}

.project-title {
    cursor: default;
    margin: 1rem;
    color: black;
    margin-bottom: 0.8rem;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

#projects .about-containers .details-container p {
    cursor: default;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 20px auto;
}

nav.project1 {
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    margin-top: -2rem;
}

nav.project1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.project1 ul li {
    display: inline;
    margin-right: 20px;
}

nav.project1 ul li a {
    text-decoration: none;
    color: #333;
}

nav.project1 a {
    font-weight: bold;
}

nav.project1 a:hover {
    color: grey;
    text-decoration: none;
}

nav.project1 a.active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #ff6666;
    color: black;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1s ease forwards;
}


/* CONTACT PAGE */

.gif-icon {
    width: 250px;
    height: 130px;
    margin: 0rem auto;
}

#contact .section__text__p1 {
    margin-top: -7rem;
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

#contact .title {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #FFBF00;
    margin-bottom: 2rem;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53 ,53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.contact .h1 {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #FFBF00;
}

.contact-info-container {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.contact-icon1 {
    cursor: default;
}

#contact .contact-info-upper-container {
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    overflow: hidden;
    width: 0;
    height: 30px
}

#contact.triggered .contact-info-upper-container {
    animation: expandContacts 1.3s forwards;
}

@keyframes expandContacts {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

/* FOOTER SECTION */

footer {
    height: 26vh;
    margin: 0 1rem;
    margin-top: -4rem;
}

footer p {
    text-align: center;
}

.visits {
    width:200px;

    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: -1rem;
    align-items: center;
}